/* ---###---###--- Main ---###---###--- */
main {
    
}

main i {
    color: #348af4;
}

main section {
    margin: 10px;
}

main section h2 {
    
}

main section img {
    width: 320px;
    height: 250px;
    box-shadow : 8px 8px 12px #aaa;
    margin-top: 10px;
}








