/* ---###---###--- Main ---###---###--- */
main {
    margin: 20px;
}

main h2 {
    margin-bottom: 10px;
    text-align: center;
}

main ul {
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #6FBDE4;
    border: 1px solid #6FBDE4;
    border-radius: 10px;
}

main img {
    width: 320px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow : 8px 8px 12px #aaa;
    
}

main li {
    color: #111;
    list-style: disc;
}

.a-propos {
    color: #111;
    padding: 10px;
    background: #A0B9D8;
    border: 1px solid #A0B9D8;
    border-radius: 10px;
    margin-bottom: 20px;
}

